
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="hero-unit">

        <h2>About me</h2><br>
        <p><img src="/img/korvyakov.jpg" style="position:relative;float:left;margin: 0 10px 5px 0;border:1px solid grey;"/>I was born Moscow, Russia. Most of my life I lived in Korolev. It is a city in Moscow region. In November 2015 I have moved to Amsterdam.<br><br>I'm fond of traveling and extreame tourism (hiking and rafting). I play guitar and <a href="http://en.wikipedia.org/wiki/Bayan_(accordion)" target="_blank">bayan</a>. I also like football, table tennis and board games.<br><br>Besides that I have beautiful wife and little son.<br><br><br></p>
      </div>

      <hr>

      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
      
    </div> <!-- /container -->

    <% include ../partials/scripts.ejs %>

  </body>
</html>
