
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <style>
      .info-tbl {
        text-align: left;
      }
      .info-tbl td {
        padding-left: 20px;
      }
      .info-tbl th {        
        vertical-align: top;
      }
    </style>
    <div class="container">
      <div class="hero-unit">
        <h2>Education</h2><br>
        <div>
          <a href="http://en.wikipedia.org/wiki/Bauman_Moscow_State_Technical_University" target="_blank">
            <img src="/img/bmstu.gif" style="position:relative;float:left;margin:5px;border:1px solid grey;width: 106px;"/>
          </a>
          <table class="info-tbl">
            <tr>
              <th>
                Institution:
              </th>
              <td>
                <a href="http://en.wikipedia.org/wiki/Bauman_Moscow_State_Technical_University" target="_blank">Moscow State Technical University</a>
              </td>
            </tr>
            <tr>
              <th>
                Degree: 
              </th>
              <td>
                Engineer - 6 years program, analogous to Master's degree in Russia
              </td>
            </tr>
            <tr>
              <th>
                Speciality:
              </th>
              <td>
                Information Processing and Controll Systems
              </td>
            </tr>
            <tr>
              <th>
                What we studied:
              </th>
              <td>
                System design and engineering, operating systems, data analisys, programming, database design, networking, math 
              </td>
            </tr>  
            <tr>
              <th>
                Years:
              </th>
              <td>
                2005 - 2011
              </td>
            </tr>
            <tr>
              <th>
                Average score:
              </th>
              <td>
                4.6
              </td>
            </tr>
          </table>
        </div>
        <div style="clear:both;">
          <br>
          <h3>Cources and certifications</h3><br>
          <table class="info-tbl">
            <tr>
              <th>
                Certificate:
              </th>
              <td>
                <a href="http://www.ielts.org/" target="_blank">IELTS</a>
              </td>
            </tr>
            <tr>
              <th>
                Authority:
              </th>
              <td>
                <a href="http://www.ielts.org/" target="_blank"><img src="/img/ielts.png" style="width: 100px;"/></a>
              </td>
            </tr>
            <tr>
              <th>
                Description:
              </th>
              <td>
                The International English Language Testing System, or IELTS, is an international standardised test of English language proficiency for non-native English language speakers.
              </td>
            </tr>
            <tr>
              <th>
                When:
              </th>
              <td>
                July 2015
              </td>
            </tr>
            <tr>
              <th>
                Result:
              </th>
              <td>
                7.5
              </td>
            </tr>
          </table>
          <br>
          <table class="info-tbl">
            <tr>
              <th>
                Course:
              </th>
              <td>
                <a href="https://www.coursera.org/course/statinference" target="_blank">Statistical Inference</a>
              </td>
            </tr>
            <tr>
              <th>
                Authority:
              </th>
              <td>
                <a href="https://www.coursera.org" target="_blank"><img src="/img/coursera.png"/></a>
              </td>
            </tr>
            <tr>
              <th>
                Institution:
              </th>
              <td>
                <a href="https://www.coursera.org/jhu" target="_blank">Johns Hopkins University</a>
              </td>
            </tr>
            <tr>
              <th>
                Description:
              </th>
              <td>
                Students receive a broad overview of the goals, assumptions, and modes of statistical inference. Successful students can perform inferential tasks in highly targeted settings and are able to use the skills developed for more complex inferential challenges.
              </td>
            </tr>
            <tr>
              <th>
                When:
              </th>
              <td>
                July 2014
              </td>
            </tr>
            <tr>
              <th>
                Result:
              </th>
              <td>
                <a href="assets/documents/Coursera_statinference_2014.pdf" target="_blank">Statement of Accomplishment with distinction (click to open)</a>
              </td>
            </tr>
          </table>
          <br>
          <table class="info-tbl">
            <tr>
              <th>
                Course:
              </th>
              <td>
                <a href="https://www.coursera.org/course/rprog" target="_blank">R Programming</a>
              </td>
            </tr>
            <tr>
              <th>
                Authority:
              </th>
              <td>
                <a href="https://www.coursera.org" target="_blank"><img src="/img/coursera.png"/></a>
              </td>
            </tr>
            <tr>
              <th>
                Institution:
              </th>
              <td>
                <a href="https://www.coursera.org/jhu" target="_blank">Johns Hopkins University</a>
              </td>
            </tr>
            <tr>
              <th>
                Description:
              </th>
              <td>
                Learn how to program in R and how to use R for effective data analysis.
              </td>
            </tr>
            <tr>
              <th>
                When:
              </th>
              <td>
                June 2014
              </td>
            </tr>
            <tr>
              <th>
                Result:
              </th>
              <td>
                <a href="assets/documents/Coursera_rprog_2014.pdf" target="_blank">Statement of Accomplishment (click to open)</a>
              </td>
            </tr>
          </table>
          <br>
          <table class="info-tbl">
            <tr>
              <th>
                Course:
              </th>
              <td>
                <a href="https://www.coursera.org/course/datascitoolbox" target="_blank">The Data Scientist’s Toolbox</a>
              </td>
            </tr>
            <tr>
              <th>
                Authority:
              </th>
              <td>
                <a href="https://www.coursera.org" target="_blank"><img src="/img/coursera.png"/></a>
              </td>
            </tr>
            <tr>
              <th>
                Institution:
              </th>
              <td>
                <a href="https://www.coursera.org/jhu" target="_blank">Johns Hopkins University</a>
              </td>
            </tr>
            <tr>
              <th>
                Description:
              </th>
              <td>
                Get an overview of the data, questions, and tools that data analysts and data scientists work with.
              </td>
            </tr>
            <tr>
              <th>
                When:
              </th>
              <td>
                June 2014
              </td>
            </tr>
            <tr>
              <th>
                Result:
              </th>
              <td>
                <a href="assets/documents/Coursera_datascitoolbox_2014.pdf" target="_blank">Statement of Accomplishment with distinction (click to open)</a>
              </td>
            </tr>
          </table>
          <br>
          <table class="info-tbl">
            <tr>
              <th>
                Course:
              </th>
              <td>
                <a href="https://www.coursera.org/course/compdata" target="_blank">Computing for Data Analysis</a>
              </td>
            </tr>
            <tr>
              <th>
                Authority:
              </th>
              <td>
                <a href="https://www.coursera.org" target="_blank"><img src="/img/coursera.png"/></a>
              </td>
            </tr>
            <tr>
              <th>
                Institution:
              </th>
              <td>
                <a href="https://www.coursera.org/jhu" target="_blank">Johns Hopkins University</a>
              </td>
            </tr>
            <tr>
              <th>
                Description:
              </th>
              <td>
                In this course students learn programming in R, reading data into R, creating data graphics, accessing and installing R packages, writing R functions, debugging, and organizing and commenting R code.
              </td>
            </tr>
            <tr>
              <th>
                When:
              </th>
              <td>
                January 2013
              </td>
            </tr>
            <tr>
              <th>
                Result:
              </th>
              <td>
                <a href="assets/documents/Coursera_compdata_2013.pdf" target="_blank">Statement of Accomplishment with distinction (click to open)</a>
              </td>
            </tr>
          </table>
          <br>
          <table class="info-tbl">
            <tr>
              <th>
                Course:
              </th>
              <td>
                <a href="https://www.coursera.org/course/algo" target="_blank">Algorithms: Design and Analysis, Part 1</a>
              </td>
            </tr>
            <tr>
              <th>
                Authority:
              </th>
              <td>
                <a href="https://www.coursera.org" target="_blank"><img src="/img/coursera.png"/></a>
              </td>
            </tr>
            <tr>
              <th>
                Institution:
              </th>
              <td>
                <a href="http://online.stanford.edu/" target="_blank">Stanford University</a>
              </td>
            </tr>
            <tr>
              <th>
                Description:
              </th>
              <td>
                In this course students learn several fundamental principles of algorithm design: divide-and-conquer methods, graph algorithms, practical data structures (heaps, hash tables, search trees), randomized algorithms, and more.
              </td>
            </tr>
            <tr>
              <th>
                When:
              </th>
              <td>
                June-July 2012
              </td>
            </tr>
            <tr>
              <th>
                Result:
              </th>
              <td>
                Score 69%
              </td>
            </tr>
          </table>
          <br>
          <table class="info-tbl">
            <tr>
              <th>
                Certificate:
              </th>
              <td>
                <a href="http://education.oracle.com/pls/web_prod-plq-dad/db_pages.getpage?page_id=5001&get_params=p_exam_id:1Z0-851&p_org_id=1001&lang=US" target="_blank">Oracle Certified Professional, Java SE 6 Programmer</a>
              </td>
            </tr>
            <tr>
              <th>
                Authority:
              </th>
              <td>
                <a href="http://www.oracle.com" target="_blank"><img src="/img/oracle.png"/></a>
              </td>
            </tr>
            <tr>
              <th>
                Description:
              </th>
              <td>
                The exam tests a wide range of Java's APIs and core features, starting from basics such as looping constructs and variables, to more complex topics such as Threads, Collections and Generics. It tests how well a programmer has understood the language constructs and mechanisms.
              </td>
            </tr>
            <tr>
              <th>
                When:
              </th>
              <td>
                April 2011
              </td>
            </tr>
            <tr>
              <th>
                Result:
              </th>
              <td>
                Passed
              </td>
            </tr>
          </table>
        </div>

      </div>
      
      <hr>

      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
    </div> <!-- /container -->

    <% include ../partials/scripts.ejs %>
    
  </body>
</html>
