
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="hero-unit">

        <h1>Software engineer</h1><br>
        <p>I'm a software engineer and technical leader with more than 8 years of experience.<br>I'am interested in web development, analitical systems, big data processing and data representation technologies.</p>        
          <a class="btn btn-primary btn-large" href="skills" style="text-align:center; width:10em;">Check out my skills &raquo;</a>
          <br><br>
          <a class="btn btn-primary btn-large" href="projects" style="text-align:center; width:10em;">See my projects &raquo;</a>
      </div>
      <hr>

      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
    </div> <!-- /container -->

    <% include ../partials/scripts.ejs %>

  </body>
</html>
