
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="hero-unit">
        <h2>Projects I participated in</h2><br>
        <div class="accordion" id="accordion2">
        
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
                  Inni
                </a>
              </div>
              <div id="collapseEleven" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> The mission of <a href="https://powerhouse.net/">Inni</a> is to make a uniform and flexible energy platform and change the energy market in Europe.</li>
                    <li><b>Role:</b> Technical lead</li>
                    <li><b>Team Size and set-up:</b> Multi-site, 30+ developers</li>
                    <li><b>Client:</b> <a href="https://powerhouse.net/" target="_blank">Powerhouse, the Netherlands</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Microservices, Java 8, Spring MVC, Spring Boot, Angular 2+, RabbitMQ, Hibernate, MsSQL, Liquibase, Gradle, Git, Docker</li>
                    <li><b>Responsibilities:</b> Architecture, development, refactoring, requirement analysis, coaching, recruitment</li>
                    <li><b>Duration:</b> Dec 2016 - current</li>
                  </ul>
                </div>
              </div>
            </div>
            
            
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
                  PowerForecast
                </a>
              </div>
              <div id="collapseTen" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> Powerhouse Forecast project is a part of Powerhouse platform which aims to provide Solar Panel and Windmill clients with the most accurate and actual energy production forecasts. To make it happen we collect and process the forecasting information from several providers, display it in a clear way and combine with user input in order to generate energy bids for Powerhouse customers.</li>
                    <li><b>Role:</b> Full stack developer</li>
                    <li><b>Team Size and set-up:</b> Single-site, 4 developers</li>
                    <li><b>Client:</b> <a href="http://powerhouse.nl/en/" target="_blank">Powerhouse, the Netherlands</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java 7, Spring MVC, Spring Boot, AngularJS, Gulp, SASS, Hibernate, Oracle, Liquibase, Gradle, Mercurial</li>
                    <li><b>Responsibilities:</b> Development, bug fix, performance optimization, refactoring, requirement analysis</li>
                    <li><b>Duration:</b> Nov 2015 - Nov 2016</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
                  RedHelper "My"
                </a>
              </div>
              <div id="collapseNine" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Link to the site:</b> <a href="http://redhelper.com/my" target="_blank">redhelper.com/my</a> (must be registered in <a href="http://redhelper.com" target="_blank">RedHelper</a>)</li>
                    <li><b>Project Summary:</b> The goal of the project is to provide Redhelper company customers with the ability to configure and tune RedHelper online consultant settings and gather usage statistics, reports, partnership information, financial documents etc.</li>
                    <li><b>Role:</b> Lead java developer</li>
                    <li><b>Team Size and set-up:</b> Single-site, 1-3 developers</li>
                    <li><b>Client:</b> <a href="http://redhelper.com/" target="_blank">RedHelper, Russia</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, Spring MVC, jQuery, AngularJS, MyBatis, MySql, Jetty, Solr, Maven, SVN</li>
                    <li><b>Responsibilities:</b> Development, bug fix, performance optimization, refactoring, requirement analysis</li>
                    <li><b>Duration:</b> Nov 2012 - Jun 2015</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                  RedHelper NX
                </a>
              </div>
              <div id="collapseEight" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> RedHelper “non-XMPP” services. Server side of the online consultation system.</li>
                    <li><b>Role:</b> Java developer</li>
                    <li><b>Team Size and set-up:</b> Single-site, 2 developers</li>
                    <li><b>Client:</b> <a href="http://redhelper.com/" target="_blank">RedHelper, Russia</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, Spring MVC, MySql, Memcached, Jetty, Ant, SVN</li>
                    <li><b>Responsibilities:</b> Development, bug fix</li>
                    <li><b>Duration:</b> Nov 2012 - Jun 2015</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                  RedHelper CRM
                </a>
              </div>
              <div id="collapseSeven" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> RedHelper internal CRM. Helps employees to manage clients, payments and other business-related info.</li>
                    <li><b>Role:</b> Java developer</li>
                    <li><b>Team Size and set-up:</b> Single-site, 1-3 developers</li>
                    <li><b>Client:</b> <a href="http://redhelper.com/" target="_blank">RedHelper, Russia</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, Play Framework 2, Bootstrap, jQuery, EBean, MySql, Jetty, Sbt, SVN, ElasticSearch</li>
                    <li><b>Responsibilities:</b> Performance optimization, development, bug fix.</li>
                    <li><b>Duration:</b> Nov 2012 - Jun 2015</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                  TRS
                </a>
              </div>
              <div id="collapseSix" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> Real-time monitoring of vehicles with GPS-based devices on board.</li>
                    <li><b>Role:</b> Lead Developer, Business analyst</li>
                    <li><b>Team Size and set-up:</b> Multi-site, 2 developers</li>
                    <li><b>Client:</b> <a href="http://www.rc-tech.ru/eng/" target="_blank">RadioComm technologies, Russia</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, Spring MVC, PostgreSQL, Bootstrap, AngularJS, Tomcat, Maven, Git</li>
                    <li><b>Responsibilities:</b> Requirement/business analysis, database architecture, web development.</li>
                    <li><b>Duration:</b> Sep 2013 - Apr 2015</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                  Series of web sites for Borsch Interactive
                </a>
              </div>
              <div id="collapseFive" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li>
                      <b>Project Summary:</b> Two web sites for the "Borsch Interactive":<ul style="list-style-type: none;"><li><a href="http://barmaspain.ru" target="_blank">barmaspain.ru</a></li><li><a href="http://annodomini.ru/" target="_blank">annodomini.ru</a></li></ul>
                  </li>
                    <li><b>Role:</b> Python/Django Developer</li>
                    <li><b>Team Size and set-up:</b> Multi-site, 2 developers </li>
                    <li><b>Client:</b> <a href="http://theborsch.ru/" target="_blank">Borsch Interactive</a></li>
                    <li><b>Platform:</b> Python/Django</li>
                    <li><b>Technologies/Tools:</b> Python, Django, MySql, HTML, CSS, jQuery, Git</li>
                    <li><b>Responsibilities:</b> Development, bug fix.</li>
                    <li><b>Duration:</b> Mar 2012 - May 2012</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                  Chemistry QA (CQA)
                </a>
              </div>
              <div id="collapseFour" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> The goal of the project is to provide Wiley company employees and customers with the tools for quality assurance of chemical journal content. Journals from CQA go to JournalsQa for the further processing.</li>
                    <li><b>Role:</b> Tech lead</li>
                    <li><b>Team Size and set-up:</b> Multi-site, 2-3 developers</li>
                    <li><b>Client:</b> <a href="http://wiley.com/" target="_blank">Wiley, USA</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, Spring MVC, jQuery, XSLT, Hibernate, MySql, Jetty, JBoss, Maven, Git</li>
                    <li><b>Responsibilities:</b> Code review, coordination with remote developers, business analysts and other responsible persons.</li>
                    <li><b>Duration:</b> Feb 2012 - Aug 2012</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  JournalsQA
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> The goal of the project is to provide Wiley company employees and customers with the tools for quality assurance (automated and manual) of journal content. The system interacts with a number of other information systems (e.g. Wiley Online Library, Wiley Content Repository, Xml Rules Validation system etc.).</li>
                    <li><b>Role:</b> Developer</li>
                    <li><b>Team Size and set-up:</b> Multi-site, 5-10 developers</li>
                    <li><b>Client:</b> <a href="http://wiley.com/" target="_blank">Wiley, USA</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, Flex, JBoss Seam/JSF/RichFaces, Spring, Hibernate, Oracle, Documentum, JBoss, Ant, SVN</li>
                    <li><b>Responsibilities:</b> Requirement analysis, development, bug fix, task coordination and interaction with remote java developers</li>
                    <li><b>Duration:</b> Jan 2011 - Aug 2012</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  XML Rules Validator (XRV)
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> The goal of the project is to provide Wiley employees and internal systems with the tools for validation of different types and versions of XML documents used within the company. The XRV validation is available by web interface or through web services (integration with other Wiley internal systems).</li>
                    <li><b>Role:</b> Developer</li>
                    <li><b>Team Size and set-up:</b> Multi-site, 2-3 developers</li>
                    <li><b>Client:</b> <a href="http://wiley.com/" target="_blank">Wiley, USA</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, JBoss Seam/JSF/RichFaces, Spring, Hibernate, HSQLDB, JBoss, XQuery, XSLT, DTD, Ant, Schematron, SVN</li>
                    <li><b>Responsibilities:</b> Development, bug fix, task coordination and interaction with XML developers and remote java developers</li>
                    <li><b>Duration:</b> Sep 2010 - Feb 2012</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  The IU-5 chair information system
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> The information system for IU-5 chair in BMSTU university that contained application for sensor panel, web application for admin and the database. Features: titmetables of groups and instructors, news, information about the chair etc. Successfully operated for several years.
                    </li>
                    <li><b>Role:</b> Business analyst, developer</li>
                    <li><b>Team Size and set-up:</b> Single-site, 1 developer</li>
                    <li><b>Client:</b> <a href="http://www.bmstu.ru/en/" target="_blank">BMSTU</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, Swing, GWT, SmartGWT, Tomcat, MySQL, OpenJPA, SVN</li>
                    <li><b>Responsibilities:</b> Business analysis, development, bug fix</li>
                    <li><b>Duration:</b> 2009 - 2011</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero">
                  Series of web sites for ArtInfo
                </a>
              </div>
              <div id="collapseZero" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <ul style="list-style-type: none;margin:5px;">
                    <li><b>Project Summary:</b> Several web sites about art and music including:<ul style="list-style-type: none;"><li><a href="http://propublicart.ru/" target="_blank">propublicart.ru</a></li><li><a href="http://ravenscourtgalleries.com/" target="_blank">ravenscourtgalleries.com</a></li><li><a href="http://aquarius-classic.ru/" target="_blank">aquarius-classic.ru</a></li></ul></li>
                    <li><b>Role:</b> Developer</li>
                    <li><b>Team Size and set-up:</b> Single-site, 2-3 developers</li>
                    <li><b>Client:</b> <a href="http://www.artinfo.ru" target="_blank">ArtInfo</a></li>
                    <li><b>Platform:</b> Java</li>
                    <li><b>Technologies/Tools:</b> Java, Tomcat, JSP, MySql, HTML, CSS, jQuery, SVN</li>
                    <li><b>Responsibilities:</b> Development, bug fix</li>
                    <li><b>Duration:</b> Sep 2008 - Apr 2010</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
      </div>
      
      <hr>

      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
    </div> <!-- /container -->

    <% include ../partials/scripts.ejs %>

  </body>
</html>
