
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <h1>The map of my professional skills</h1><br>
      <iframe width="1100" height="500" frameborder="1" src="https://mind42.com/mindmap/f2df2a2a-d868-4041-a2d9-f62d39e937fb?rel=embed"></iframe>
      <br><br>
      <a class="btn" href="https://mind42.com/public/f2df2a2a-d868-4041-a2d9-f62d39e937fb" target="_blank">See on mind42.com &raquo;</a>

      <hr>

      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
    </div> <!-- /container -->

    <% include ../partials/scripts.ejs %>

  </body>
</html>
