
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <h1>The map of my professional skills</h1><br>
      <iframe frameborder="1" src="https://www.mindomo.com/mindmap/a-korvyakov-skills-013506d3c7b043b28a44454345cb9f41" style="width: 100%; height: 500px;"></iframe>

      <hr>

      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
    </div> <!-- /container -->

    <% include ../partials/scripts.ejs %>

  </body>
</html>
